<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="buzzForm" (ngSubmit)="onAddBuzz(matForm)" #matForm="ngForm" *ngIf="!isLoading">
        <mat-form-field>
            <input matInput type="text" id="title" placeholder="Title here..." formControlName="title">
            <mat-error *ngIf="isSubmit && validate['title'].invalid">Please Add Title</mat-error>
        </mat-form-field>
        <div>
            <button mat-stroked-button type="button" (click)="filePicker.click()">Add Image</button>
            <input type="file" #filePicker (change)="onImageAdd($event)">
        </div>
        <div class="image-preview" *ngIf="imagePreview && validate['image'].valid">
            <img [src]="imagePreview" alt={{buzzForm.value.title}}>
        </div>
        <mat-form-field>
            <textarea matInput rows="4" id="content" placeholder="Description here..."
                formControlName="content"></textarea>
            <mat-error *ngIf="isSubmit && validate['content'].invalid">Please Add Description</mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" (click)="submitForm()">
            {{mode == 'create' ? 'Add' : 'Update'}} Buzz
        </button>
    </form>
</mat-card>